{% macro showLinks() %}

    <div class="w-100 border customnavbar">

      <div class="customnavdiv">

        <li class="customnavlink">
          <a class=" customnavaddress  {{ 'customnav-active' if request.endpoint == 'homePage' else '' }} " text-light" aria-current="page" href="{{ url_for('homePage') }}">Home</a>
      </li>
      <li class="customnavlink">
          <a  class="customnavaddress {{ 'customnav-active' if request.endpoint == 'booklist' else '' }} " text-light" href="{{ url_for('booklist') }}">Book List</a>
      </li>

      </div>
      

      
    </div>
{% endmacro %}
